:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --card-set-gap: 24px;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: var(--primary-font);
    letter-spacing: 0,02em;
}

body * {
    /* outline: 1px solid tomato; */
}

/*====================COMPONENTS====================*/
.logo-text {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: #2E2F42;
    letter-spacing: 0.03em;
    text-transform: uppercase
}

.logo-web {
    color: #4D5AE5;
}

.frequently-header {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    color: #2E2F42;
}

.frequently-description {
    font-size: 16px;
    line-height: 1.5;

    color: #434455;     
}

/*====================/COMPONENTS====================*/

/*====================HEADER====================*/
.page-header-logo {
    margin-right: 76px;
}
.page-header-container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu {
    display: flex;
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}

.page-nav {
    display: flex;
    align-items: center;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;

}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}
.contact-mail {
    margin-left: auto;
    margin-right: 40px;
}
.contact-mail,
.contact-phone-number {
    font-size: 16px;
    line-height: 1.5;

    color: #434455;
}

.contact-phone-number:hover,
.contact-phone-number:focus {
    color: #404BBF;
}

.contact-mail:hover,
.contact-mail:focus {
    color: #404BBF;
}
/*====================/HEADER====================*/

/*====================HERO====================*/
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1,07;
    
    padding-top: 188px;
    padding-left: 317px;
    padding-right: 317px;
    margin-bottom: 48px;

    color: #FFFFFF;
}

.modal-btn,
.modal-btn {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-top: 16px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 188px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    border: 1px solid transparent;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;

    background: #4D5AE5;
}

.modal-btn:hover,
.modal-btn:focus {
    color: #FFFFFF;
    background: #404BBF;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.hero-div {
    background-color: #2E2F42;
}

/*====================/HERO====================*/

/*====================BENEFITS====================*/

.benefits-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits {
    display: flex;
}

.benefits-header {
    margin-bottom: 8px;
    
}

.benefits > .benefits-item:not(:last-child) {
    margin-right: 24px;
    
}

/*===================/BENEFITS====================*/

/*====================WORK====================*/
.work-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.work-section {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 120px;

}

.work-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc( -1 * var(--card-set-gap));
    margin-top: calc( -1 * var(--card-set-gap));
}

.work-list > .list {
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
    flex-basis: calc(100% / 3 - var(--card-set-gap))
    
}

/*====================/WORK====================*/

/*====================TEAM====================*/

.team-header {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    text-align: center;
    text-transform: capitalize;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    padding-top: 120px;
}

.team-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: calc( -1 * var(--card-set-gap));
    margin-left: calc( -1 * var(--card-set-gap));
    padding-bottom: 120px;
    
}

.team-list > .list {
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
    flex-basis: calc(100% / 4 - var(--card-set-gap))

}

.team {
    margin-top: 32px;
}

.team-description {
    margin-top: 8px;
}

.team-list-content {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;;
    text-align: center;
}

.team-section {
    background-color: #F4F4FD;
}

.team-employees {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;;
}

/*====================/TEAM====================*/

/*====================FOOTER====================*/

.logo-down {
    color: #F4F4FD;
}

.down {
    color: #E7E9FC;
    margin-top: 16px;
    width: 264px;
}

.footer-logo {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 264px;
}

.footer-down {
    background-color: #2E2F42;
}

/*====================/FOOTER====================*/


/*====================PORTFOLIO.HTML====================*/

.filter-btn {
    min-width: 69px;
    min-height: 48px;
    padding-right: 10px;
    padding-left: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;

    letter-spacing: 0.04em;
    border: 1px solid transparent;
    border-radius: 4px;

    color: #4D5AE5;
}

.filter-div > .list:not(:last-child) {
    margin-right: 24px;
}

.filter-btn:hover,
.filter-btn:focus {
    color: #FFFFFF;
    background: #404BBF;
}

.filter-div {
    display: flex;
    justify-content: center;
    margin-top: 96px;
    margin-bottom: 72px;

}

.examples {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc( -1 * var(--card-set-gap));
    margin-top: calc( -1 * var(--card-set-gap));
    margin-bottom: 120px;

}


.examples-list {
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
    flex-basis: calc(100% / 3 - var(--card-set-gap))
}

.exemples-item {
    margin-top: 8px;
    margin-left: 16px;
    margin-bottom: 32px;
}

.exemples-header {
    padding-top: 32px;
    margin-left: 16px;
}

.examples-div {
    border-right: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}

/*====================/PORTFOLIO.HTML====================*/